/*Root Colour Definitions*/
            :root{
                --green1:#D8EADC;
                --green2:#C9E2C9;
                --background-blue:#132C3D
                --bord-tot:

            }


            *{margin:0;}
/*BODY:*/
            body {
                background:  var(--background-blue);
                /*background-image: url("../src/img/page.png");*/
                /*overflow-X:hidden;*/
                /*overflow-Y:scroll;*/
                overflow:hidden;
            }
/*BANNER ITMES:*/
            div#ban-container {
                top:0;
                left:0;
                /*width: 100%;*/
                max-height: 230px;
                height: 230px;          /*/Height of banner img.*/
                transition: all 0.5s ease;
                /* set animation
                -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
                /*pointer-events:none;*/
            }

            div#header-row1{
                margin:0;
                background: var(--green2);
                background-image: url("../src/img/page.png");
                box-shadow: -3px 0px 5px #888888; /*-3 stops shadow on scroll bar.*/
            }

            div#ban-container.sticky {
                max-height: 48px;
                -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }

            img#ban-img {
                margin-left:auto;
                margin-right:auto;
                height: inherit;
                max-height: inherit;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }

            div#ban-height {
                max-height:150px;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }

            div#top-buttons {
                max-height:0px;
                height:70px;
                width:100%;
            }

            div#nav-buttons {
                /*background-color:#132C3D;*/
                height:100%;
                right:0;
                position:absolute;
            }

            div#nav-button-container {
                /*pointer-events:all;*/
            }

            div#nav-button-container-inner{
                height:70%;
                width:90%;
                margin-left:auto;
                margin-right:auto;
                display:block;
                box-shadow: 2px 2px 5px #888888;
                border-radius:8px 8px 8px 8px;
            }

            div.menu-item {
                /*position: relative;*/
                display: inline-block;
                /*border-top: #CCCCCC  1px solid;
                border-bottom: #CCCCCC 1px solid;*/
                border-right: #888888 1px solid;
                height:100%;
                background-color: rgba(255,255,255,0.95);
                color: 0;
                text-align: center;
                cursor: pointer;
            }
            div.menu-item::before {
                content: '';
                display: inline-block;
                height:100%;
                vertical-align: middle;
            }


            div.menu-item.left {
                /*border-left: #CCCCCC 1px solid;*/
                border-radius:8px 0px 0px 8px;
            }
            div.menu-item.right {
                /*border-right: #CCCCCC 1px solid;*/
                border-right: none;
                border-radius:0px 8px 8px 0px;
            }

            div.menu-item span {
                margin:0;
                top:0;
                bottom:0;
                /*font-family: Lustria,Georgia;*/
                //font-family: 'Baloo Bhaina', cursive;
                //font-size: 15px;
            }

            div.menu-item i {
                padding-right:8px;
            }

/*Banner - Menu Item Drop-downs*/

            div.menu-item-list {
                position: relative;
                display: inline-block;
                width:inherit;
                /*-webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                transition: all 0.5s ease;*/
            }

            div.menu-item-list-pad {
                position: absolute;
                width:100%;
                margin-left:-15px;
                padding-right:15px;
                padding-left:15px;
                background-color: rgba(0,0,0,0);
                display: none;
            }

            div.menu-item-list {
                background-color: #f9f9f9;
                width:100%;
                min-width: 100px; /*To Keep text a decent size*/
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }

            .menu-item-list a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                transition: all 0.5s ease;
            }

            /* Change color of dropdown links on hover */
            div.menu-item:hover {
                background-color: #E1E1E1;/*#f1f1f1;*/
                transition: all 0.5s ease;
            }

            div.menu-item:hover .menu-item-list-pad {
                display: block;
            }

            div.menu-item-list a:hover {
                background-color: #C1C1C1
            }
/* General Page Elements*/
            /*White box to put text in.*/
            div.white-box {
                background-color:rgba(255,255,255,0.85);
                border-radius:10px
            }
            /*Padding inside white box to place text & images*/
            div.white-box-pad {
                padding:20px
            }

            /*Text Within a white box.*/
            div.white-box p {
                font-family:
            }

            div.white-box h1 {
                font-family;
            }


/*Service Times*/
            div.service {
                /*Primarily For Scaling on small devices*/
                padding-top:10px;
                padding-bottom:10px;
            }

/*Footer Items*/
            div#footer{
                /*margin:0 auto;*/
                /*background:#C9E2C9;*/
                background-image: url("../src/img/page.png");
                background-position: bottom center;
            }

            div#footerInfo{
                /*background: #C9E2C9;*/
                /*top:0;*/
                bottom:0;
                width:100%;
                margin:0;
            }



/*SCROLLING IMAGES:*/

            div.scroll-img-container{
                overflow:hidden;
                height:100%;
                position: relative;
            }

            div#scroll-img1 {
                background-image: url("../src/img3/stalfreds.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                height:100%;
            }


            img.scroll-img{
                /*width: 100%;*/

                left:-1000%;
                right:1000%;
                top:-1000%;
                bottom:-1000%;
                min-height:100%;
                /*min-width:100%;
                TODO: Fix scaled width/height profile*/
                margin: 0 auto;

                opacity:0.7;
            }

/*PARALLAX FRAMES:*/
            .parallax {
                position: fixed;
                width:100%;
                left:0;
                margin:0;
                perspective: 1px;
                height: 100vh;
                background:#132C3D;

                overflow: auto;
                overflow-x: hidden;
                /*overflow-y: hidden;*/
                overflow-y: visible;
                /*padding-right:-15px;*/
            }
            .parallax_layer {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width:100%;
                height:100%;
            }
            .parallax_layer_front {
                transform: translateZ(0);
            }
            .parallax_layer_back {
                /*  Scale Factors calculated by 1+(translateZ * -1) / perspective
                    Increasing the translate Z value increases the layer speed.
                */

                transform: translateZ(-1px) scale(2);
                /*overflow-Y:hidden;*/
                /*overflow-X:hidden;*/
            }



h1{
    white-space:nowrap;
}
h2{
    white-space:nowrap;
}
h3{
    /*white-space:nowrap;*/
}
h4{
    white-space:nowrap;
}
h5{
    white-space:nowrap;
}
h6{
    white-space:nowrap;
}


/*Define Fading Images:*/
#cf {
  position:relative;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}


.debug {
    position: fixed;
    top: 0;
    left: .5em;
    z-index: 200000;
    background: rgba(0,0,0,.85);
    color: #fff;
    padding: .5em;
    border-radius: 0 0 5px 5px;
  }
  .debug-on .parallax {
    /*background-color:#FFFFFF;*/
 }

 .debug-on .parallax_layer {
    box-shadow: 0 0 0 2px #000;
    opacity: 0.9;
 }

  .debug-on .parallax_layer_back {
    /*-webkit-transform: translate3d(400px, 0, -5px) rotateY(40deg);*/
    transform: translate3d(-40px, 0, 0px) rotateY(60deg);
  }

  .debug-on .parallax_layer_front {
    /*-webkit-transform: translate3d(800px, 0, -5px) rotateY(40deg);*/
    transform: translate3d(-40px, 0, 0px) rotateY(-60deg);
  }
