/*Root Colour Definitions*/
            :root{
                --green1:#D8EADC;
                --green2:#C9E2C9;
                --background-blue:#132C3D
                --bord-tot:

            }


            *{margin:0;}
/*BODY:*/
            body {
                background:  var(--background-blue);
                //background-image: url("../src/img/page.png");
                //overflow-X:hidden;
                //overflow-Y:scroll;
                overflow:hidden;
            }
/*BANNER ITMES:*/
            div#ban-container {
                top:0;
                left:0;
                width: 100%;
                background: var(--green2);
                background-image: url("../src/img/page.png");
                max-height: 230px;
                height: 230px;          ///Height of banner img.
                // set animation
                -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }

            div#ban-container.sticky {
                max-height: 48px;
                -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }

            img#ban-img {
                margin-left:auto;
                margin-right:auto;
                height: inherit;
                max-height: inherit;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }

            /*img#ban-img.sticky {
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }*/

            div#ban-height {
                max-height:150px;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }

            div#top-buttons {
                max-height:0px;
                height:70px;
                width:100%;
            }

            div#nav-buttons {
                //background-color:#132C3D;
                height:100%;
                right:0;
                position:absolute;
            }


            div.menu-item {
                //position: relative;
                display: inline-block;
                border-top: #CCCCCC  1px solid;
                border-bottom: #CCCCCC 1px solid;
                border-right: #CCCCCC 1px solid;
                height:100%;
                background-color: rgba(255,255,255,0.7);
                color: 0;
                text-align: center;
            }
            div.menu-item::before {
                content: '';
                display: inline-block;
                height:100%;
                vertical-align: middle;
            }


            div.menu-item.left {
                border-left: #CCCCCC 1px solid;
                border-radius:8px 0px 0px 8px;
            }
            div.menu-item.right {
                border-right: #CCCCCC 1px solid;
                border-radius:0px 8px 8px 0px;
            }

            div.menu-item span {
                margin:0;
                top:0;
                bottom:0;
                font-family: Lustria,Georgia
            }

            div.menu-item i {
                padding-right:8px;
            }


/*Footer Items*/
            div#footer{
                //margin:0 auto;
                //background:#C9E2C9;
                background-image: url("../src/img/page.png");
                background-position: bottom center;
            }

            div#footerInfo{
                //background: #C9E2C9;
                //top:0;
                bottom:0;
                width:100%;
                margin:0;
            }



/*SCROLLING IMAGES:*/
            img.scroll-img{
                width: 100%;
                //position:absolute;
                opacity:0.7;
            }

/*PARALLAX FRAMES:*/
            .parallax {
                position: fixed;
                width:100%;
                left:0;
                margin:0;
                perspective: 1px;
                height: 100vh;
                background:#132C3D;

                overflow: auto;
                overflow-x: hidden;
                //overflow-y: hidden;
                overflow-y: visible;
                //padding-right:-15px;
            }
            .parallax_layer {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width:100%;
                height:100%;
            }
            .parallax_layer_front {
                transform: translateZ(0);
            }
            .parallax_layer_back {
                /*  Scale Factors calculated by 1+(translateZ * -1) / perspective
                    Increasing the translate Z value increases the layer speed.
                */

                transform: translateZ(-1px) scale(2);
                //overflow-Y:hidden;
                //overflow-X:hidden;
            }



h1{
    white-space:nowrap;
}
h2{
    white-space:nowrap;
}
h3{
    white-space:nowrap;
}
h4{
    white-space:nowrap;
}
h5{
    white-space:nowrap;
}
h6{
    white-space:nowrap;
}


/*Define Fading Images:*/
#cf {
  position:relative;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}


.debug {
    position: fixed;
    top: 0;
    left: .5em;
    z-index: 200000;
    background: rgba(0,0,0,.85);
    color: #fff;
    padding: .5em;
    border-radius: 0 0 5px 5px;
  }
  .debug-on .parallax {
    -webkit-transform: translate3d(800px, 0, -800px) rotateY(40deg);
    transform: translate3d(500px, 0, -800px) rotateY(40deg);
 }
  .debug-on .parallax_layer {
    box-shadow: 0 0 0 2px #000;
    opacity: 0.9;
  }